@import "tailwindcss";

@theme {
  --color-primary: #1FA37A;
  --color-secondary: #1062C3;
  --color-accent: #FFC857;

  --color-background: #FBFCFB;

  --color-neutral-900: #0F172A;
  --color-neutral-800: #1E293B;
  --color-neutral-700: #334155;
  --color-neutral-600: #475569;
  --color-neutral-500: #64748B;
  --color-neutral-400: #94A3B8;
  --color-neutral-300: #CBD5E1;
  --color-neutral-200: #E2E8F0;
  --color-neutral-100: #F1F5F9;
  --color-neutral-50: #F8FAFC;

}

html, body {
  background-color: var(--color-background);
}